<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Cargando bootstraps -->
<head th:fragment="head">

  <title>Nix</title>

  <!-- CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  >

  <!-- JQuery JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Barra de navegacion  -->
	<nav class="navbar bg-dark" th:fragment= "navbar">

    <a class="navbar-brand" href="/">Nix</a>

    <div class="container">

      <!-- Barra de búsqueda -->
      <form class="form-inline" action="#">
        <input class="form-control mr-sm-2" type="text" placeholder="Ingresa tu busqueda" width= 100>
        <button class="btn btn-success" type="submit">Buscar</button>
      </form>
      
      <ul class="nav nav-pills">

        <div class="nav-item" sec:authorize="hasRole('CLIENT')">
          <a class="nav-link" href="/menu">Menú</a>
        </div>

        
        <div class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" href="/signup/delivery">Registrar repartidor</a>
        </div>

        <li class="nav-item">
          <a class="nav-link" href="/orders">Pedidos</a>
        </li>

        <li class="nav-item" sec:authorize="hasRole('CLIENT')">
          <a class="nav-link" href="/carrito/ver">Carrito</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" >Usuario</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="/logout">Salir</a>
          </div>
        </li>

      </ul>
    </div>
	</nav>


  <!-- Popup para confirmar alguna accion
    ${aceptar} el url al cual se redirige despues de presionar el boton de Aceptar
  -->
  <div class="container" th:fragment = "confirmar-popup">
    <!-- Modal -->
    <div class="modal fade" id="confirmar">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title-center"> Confirmación</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h1  class= "text-center"></h1>¿Deseas continuar?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal" > Cancelar </a>
            <a class="btn btn-success" th:href = "${aceptar}"> Aceptar</a>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- Cuerpo de la tarjeta de órdenes -->
  <div class="card-body" th:fragment="ordercard_body">
    <h5 class="card-title" th:text="${order.status}"></h5>
    <p class="card-text" th:text="'Fecha de entrega: ' + ${order.deliveryDate}"></p>
    <p class="card-text" th:text="'Total: $' + ${order.price}"></p>
    <p>Platillos: </p>
    <ul>
      <li th:each="food : ${order.food_items}"
        th:text="${food.nombre} + ': ' + ${food.descripcion}"></li>
    </ul>
  </div>
  <!-- /Cuerpo de la tarjeta de órdenes -->

  <!-- Tarjera para mostrar órdenes sin opciones -->
  <div class="card" style="min-width: 300px; max-width: 300px; height: 300px;overflow: scroll;"
    th:fragment="end_ordercard">

    <div th:replace="::ordercard_body"></div>

  </div>
  <!--/ Tarjeta para mostrar órdenes sin opciones -->

  <!-- Tarjera para mostrar órdenes para seleccionar -->
  <div class="card" style="min-width: 300px; max-width: 300px; height: 300px;overflow: scroll;"
    th:fragment="select_ordercard">
    <div class="card-header">
      <a th:href="@{'orders/select/' + ${order.id}}" class="card-link">Seleccionar</a>
    </div>
    <div th:replace="::ordercard_body"></div>
  </div>
  <!--/ Tarjeta para mostrar órdenes para seleccionar -->

  <!-- Tarjera para mostrar órdenes para alterar el estatus -->
  <div class="card" style="min-width: 300px; max-width: 300px; height: 300px;overflow: scroll;"
    th:fragment="change_ordercard">
    <div class="card-header">
      <a th:href="@{'orders/update/' + ${order.id}}" class="card-link">Avanzar estatus</a>
    </div>
    <div th:replace="::ordercard_body"></div>
  </div>
  <!--/ Tarjeta para mostrar órdenes para alterar el estatus -->

</html>
