<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>

<body>

  <!-- Barra de navegacion  -->
	<div th:insert="fragments/common :: navbar"></div>


	<div class="container pt-3">
	<h1> Carrito de compras </h1>
	</div>


	<div class = "container pt-5">
		<div th:if="${hayElementos}">
			<table class="table table-bordered">
			  <thead class ="thead-dark">
			    <tr>
			      <th scope="col">Platillo</th>
						<th scope="col">Cantidad</th>
			      <th scope="col">Precio Unitario</th>
			      <th scope="col" style="width: 10%">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
					<c:forEach var="cartFood" items="${carrito}">
							<tr th:each="cartFood : ${carrito}" >
						    <td th:utext="${cartFood.food.name}"></td>
								<td th:utext="${cartFood.amount}"></td>
						    <td th:utext="${cartFood.food.price}"></td>
								<td> <a th:href="@{'/cart/edit/' + ${cartFood.food.idFood}}" class="btn btn-danger" role="button"> Eliminar </a> </td>
						  </tr>
					</c:forEach>
			  </tbody>
			</table>
	</div>
		<div th:unless="${hayElementos}">
			<h3 style="text-align:center"> Aun no agregas platillos </h3>
		</div>
	</div>


	<div class = "container pt-3">
	    <a href="/cart" class="btn btn-info" role="button"> Cancelar</a>
  		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#confirmar">
  			Guardar cambios
  		</button>
	</div>

  <!-- popup para confirmar la accion -->
  <div th:insert="fragments/common :: confirmar-popup" ></div>




</body>
</html>
