<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common::head">
    <title>Categorías</title>
  </head>

  <body>
    <!-- Barra de busqueda -->
    <header th:insert="fragments/common::navbar"></header>

    <!-- Boton para crear una categoria mostrando un Popup-->
    <div class="container pt-5 offset-lg-5">
      <button class="btn btn-info" role="button" data-toggle="modal" data-target="#crearCategoria"> Crear categoría </button>
    </div>

    <!-- Boton para editar categorias -->
    <div th:if="${hayCategorias}">
      <div class="container pt-5 offset-lg-5">
        <a class="btn btn-success" role="button" href="categories/edit"> Editar categorias </a>
      </div>
    </div>

    <!-- Popup para crear una categoria -->
    <div class="modal fade" tabindex="-1" role="dialog" id="crearCategoria">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Escribe el nombre de la nueva categoria </h5>
          </div>
          <div class="modal-body">
              <form th:action="@{/categories}" th:object="${category}" method="POST">

                <div th:if="${#fields.hasErrors('category')}">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p id="error" th:errors="*{category}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" path="category" class="form-control" placeholder="Ingresa el nombre de la categoría"
                    autofocus="true" th:field="*{category}" title="Ingresa el nombre de la categoría" required></input>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Crear</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Mostramos las categorias -->
    <div th:if="${hayCategorias}">
      <div class="container pt-3">
        <table class="table table-bordered">
    		  <thead class ="thead-dark">
    		    <tr>
    		      <th scope="col">Nombre</th>
    		    </tr>
    		  </thead>
    		  <tbody>
    				<tr th:each="category : ${categories}">
    			    <td th:utext="${category.category}"></td>
    			  </tr>
    			</tbody>
    		</table>
      </div>
    </div>
    <div th:unless="${hayCategorias}">
      <h3 style="text-align:center">Aun no hay categorias</h3>
    </div>

  </body>

  <!-- Si ocurrio un error, muestra el popup con la alerta del mensaje -->
  <script>
  $(document).ready(function(){
    var error = document.getElementById('error').innerHTML;
    if (error != "") {
      $("#crearCategoria").modal();
    }
  });
  </script>

</html>
