<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common::head">
    <title>Categorías</title>
  </head>

  <body>
    <!-- Barra de busqueda -->
    <header th:insert="fragments/common::navbar"></header>

    <!-- Mostramos las categorias -->
    <div th:if="${hayCategorias}">
      <div class="container pt-5">
        <table class="table table-bordered">
          <thead class ="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="category : ${categories}">
              <td th:utext="${category.category}"></td>
              <td><button id="botonEliminar" class="btn btn-danger" role="button"
                th:attr="data-value=${category.category}" data-toggle="modal" data-target="#eliminarCategoria">Eliminar</button></td>
              <td><button id="botonEditar" class="btn btn-info" role="button"
                  th:attr="data-value=${category.category}" data-toggle="modal" data-target="#editarCategoria">Editar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div th:unless="${hayCategorias}">
      <h3 style="text-align:center">Aun no hay categorias</h3>
    </div>

    <!-- Popup para editar una categoria -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editarCategoria">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Escribe el nuevo nombre</h5>
          </div>
          <div class="modal-body">
              <form th:action="@{/categories/edit}" th:object="${categoryForm}" method="POST">

                <div th:if="${#fields.hasErrors('newCategory')}">
                  <div id = "alert-error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p id="error" th:errors="*{newCategory}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="form-group">
                  <input id="inputNewCategory" type="text" path="newCategory" class="form-control" placeholder="Ingresa el nombre de la categoría"
                    autofocus="true" th:field="*{newCategory}" title="Ingresa el nombre de la categoría" required></input>
                </div>
                <div class="form-group">
                  <input id="inputOldCategory" type="hidden" path="oldCategory" class="form-control" th:field="*{oldCategory}"></input>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Editar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup para eliminar una categoria -->
    <div class="modal fade" id="eliminarCategoria">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title-center"> Confirmación</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h1  class= "text-center"></h1>¿Deseas continuar?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal" > Cancelar </a>
            <a type="button" id ="aceptar_eliminar" class="btn btn-danger" > Aceptar</a>
          </div>

        </div>
      </div>
    </div>


  </body>

  <!-- Obtiene el nombre de la categoria a eliminar -->
  <script>
  $('#eliminarCategoria').on('show.bs.modal', function (event) {
      var boton = $(event.relatedTarget);
      var nombre = boton.data('value');
      document.getElementById('aceptar_eliminar').href = "/categories/edit/delete/" + nombre.toString();
  })
  </script>

  <!-- Inserta el nombre de la categoria actual en las entradas del popup -->
  <script>
  $('#editarCategoria').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var nombre = button.data('value');
    if (typeof nombre != 'undefined') {
      document.getElementById("inputNewCategory").value = nombre.toString();
      document.getElementById("inputOldCategory").value = nombre.toString();
    }
  })
  </script>

  <!-- Cuando se cierra el popup tambien se debe cerrar el mensaje de error si existe -->
  <script>
  $('#editarCategoria').on('hidden.bs.modal', function (event) {
    var alert = document.getElementById('alert-error');
    if (typeof alert != 'undefined') {
      $('#alert-error').alert("close");
    }
  })
  </script>

  <!-- Si ocurrio un error, muestra el popup con la alerta del mensaje -->
  <script>
  $(document).ready(function(){
    var error = document.getElementById('error').innerHTML;
    if (error != null) {
      $("#editarCategoria").modal();
    }
  });
  </script>

</html>
