
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org" >

<head>

<title> Menu de navegacion </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- Barra de navegacion  -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container">
	  	<form class="form-inline" action="/action_page.php">
	    	<input class="form-control mr-sm-2" type="text" placeholder="Ingresa tu busqueda" width= 100>
	    	<button class="btn btn-success" type="submit">Buscar </button>
	  	</form>
		 <ul class="nav nav-pills">

		  <li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Categorias</a>
		    <div class="dropdown-menu">
		      <a class="dropdown-item" href="#">Categoria 1</a>
		      <a class="dropdown-item" href="#">Categoria 2</a>
		      <a class="dropdown-item" href="#">Categoria 3</a>
		    </div>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link" href="#">Pedidos</a>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link" href="/carrito/ver">Carrito</a>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link" href="#">Perfil</a>
		  </li>
		</ul>
	</div>
	</nav>

  <div class="card-group">

    <tr th:each="platillo : ${menu}">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Imagen" >
        <div class="card-body">
          <h5 class="card-title" th:text="${platillo.nombre}"></h5>
          <p class="card-text" th:utext="${platillo.descripcion}"></p>
          <p class="card-text" th:utext="${platillo.precio}"></p>
          <button class="btn btn-primary stretched-link" data-toggle="modal"
                  data-target="#agregarCarrito"
                  th:attr="data-nombre=${platillo.nombre},
                  data-descripcion=${platillo.descripcion},
                  data-id=${platillo.idPlatillo},
                  data-precio=${platillo.precio},
                  data-foto=${platillo.foto}">Ver mas</button>
        </div>
    </div>

    </tr>

  </div>



  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="agregarCarrito" aria-labelledby="agregarCarrito">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title"> Platillo </h1>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h6 class="modal-descripcion"> Descripcion </h6>
            <h6 class="modal-precio"> Precio </h6>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal" > Cerrar </a>
            <a class="btn btn-success" id="verPlatillo" href = "/carrito/agregar/"> Agregar al carrito </a>
          </div>

        </div>
      </div>
    </div>

  </div>

</body>

<script>
$('#agregarCarrito').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var nombre = button.data('nombre')
  var id = button.data('id')
  var descripcion = button.data('descripcion')
  var precio = button.data('precio')
  document.getElementById("verPlatillo").href= "/carrito/agregar/" + id.toString()
  var modal = $(this)
  modal.find('.modal-title').text(nombre)
  modal.find('.modal-descripcion').text("Descripcion: " + descripcion)
  modal.find('.modal-precio').text("Precio: " + precio)
})
</script>

</html>
