<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/common::head"></head>

  <body>
    <header th:insert="fragments/common::navbar"></header>

    <div class="card-group" sec:authorize="hasRole('ADMIN')" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cosas de admisnitrador</h5>
          <h6 class="card-subtitle mb-2 text-muted">Como órdenes listas o así</h6>
          <p class="card-text">
            Detalles pedido
          </p>
        </div>
      </div>
    </div>

    <div class="card-group" sec:authorize="hasRole('CLIENT')" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Orden de cliente</h5>
          <h6 class="card-subtitle mb-2 text-muted">Varios estados</h6>
          <p class="card-text">
            Detalles pedido
          </p>
        </div>
      </div>
    </div>

    <div class="card-group" sec:authorize="hasRole('DELIVERYMAN')" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ordenes por entregas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Responsabilida del repartidor actual</h6>
          <p class="card-text">
            Detalles pedido
          </p>
        </div>
      </div>
    </div>

    <!--
      <tr th:each="order : ${client_orders}">
        <div class="card">
          <div class="card-body">
            <td><span th:text="${order.id}"> Title </span></td>
            <td><span th:text="${order.status}"> Title </span></td>
          </div>
        </div>
      </tr>
    -->
  </body>
</html>

