<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common::head"></head>

  <body>

<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
  <div class="container pt-5">
        <form th:action="@{/signup}" th:object = "${clientForm}"  method="POST">
            <h2 class="form-signin-heading pb-3 text-center">Registrate</h2>

                <div th:if="${#fields.hasErrors('email')}">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p th:errors="*{email}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div th:if="${#fields.hasErrors('username')}">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p th:errors="*{username}"> </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="form-group">
                    <input type="email" path="email" class="form-control" placeholder="Correo electronico"
                                autofocus="true" th:field="*{email}" title="Ingresa un correo valido" required></input>
                </div>

                <div class="form-group">
                    <input type="text" path="username" class="form-control" placeholder="Nombre de usuario"
                        autofocus="true" th:field="*{username}" title="Debe tener una longitud de al menos 6 caracteres y maximo 32"
                        pattern=".{6,32}"  required></input>
                </div>

                <div class="form-group">
                    <input id="password" type="password" path="password" class="form-control" placeholder="Contraseña" th:field="*{password}" pattern=".{8,}"
                    title="La contraseña debe ser de al menos 8 caracteres" required></input>
                </div>

                <div class="form-group">
                    <input id="passwordConfirm" type="password" path="passwordConfirm" class="form-control"
                      placeholder="Confirma la contraseña" th:field="*{passwordConfirm}" title="La contraseña debe ser de al menos 8 caracteres"
                      pattern=".{8,}" required></input>
                </div>

                <div class="form-group">
                    <input id="phone" type="text" path="phone" class="form-control"
                      placeholder="Ingresa un telefono valido" th:field="*{phone}" title="El telefono debe ser de 10 digitos"
                      pattern="[0-9]{10}" required></input>
                </div>

                <div id="addresses"class="form-group">
                    <textarea type="text" name="addresses" path="addresses" rows="3" cols="40" class="form-control" th:field="*{addresses}"
                      placeholder="Ingresa una direccion" required></textarea>
                </div>
                <div class="container py-4">
                  <button id="addAddress" class="btn btn-success" type="button">Agregar otra dirección</button>
                </div>
            <div class="container pb-5">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
            </div>
        </form>
      </div>
    </div>

    <script>
    var password = document.getElementById("password");
    var passwordConfirm = document.getElementById("passwordConfirm");

    function validatePassword(){
      if(password.value != passwordConfirm.value) {
        passwordConfirm.setCustomValidity("No coinciden las entradas");
      } else {
        passwordConfirm.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    passwordConfirm.onkeyup = validatePassword;
    </script>

    <!-- Dinamicamente crea una entrada para que el usuario pueda agregar otra dirección -->
    <script type="text/javascript">
      var counter = 1;
      addAddressButton = document.getElementById('addAddress');

      /**
      * Remueve el area de texto.
      **/
      function removeAddress () {
        id = event.srcElement.getAttribute('inputDiv');
        inputr = document.getElementById (id);
        inputr.parentNode.removeChild (inputr);
      }

      /**
      * Crea una nueva area de texto con un boton de eliminar y la agrega al formulario.
      **/
      function newAddress () {
        addAddress = document.getElementById('addresses');
        var str = "<div " + "id='"+ counter.toString() + "'" + " class='form-group pt-3'>" +
                    " <textarea type='text' name='addresses' path='addresses' rows='3' cols='40' class='form-control'" +
                      " th:field='*{addresses}' placeholder='Ingresa una direccion' required></textarea>" +
                    "<button class='btn btn-danger offset-xl-9' inputDiv='" + counter.toString() +
                      "' onclick='removeAddress()' >Descartar</button> " +
                  "</div>";
        addAddress.insertAdjacentHTML('beforeend', str);
        counter++;
      }
      addAddressButton.addEventListener ('click', newAddress);
    </script>

  </body>
</html>
